#cover {
    margin-bottom: 0px;
    background-image: url(../images/jumbotronbackground.jpg);
    background-position: 0% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
}